@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #ddd;
  padding: 30px;
}

.wrapper {
  display: flex;
}

.item {
  font-family: Roboto;
  flex: 1;
  text-align: center;
  border-right: 1px solid #eee;
}

.item:last-child {
  border-right: none;
}

.item p:first-child {
  font-size: 14px;
  color: #444;
}

.item p:last-child {
  font-size: 32px;
  font-weight: bold;
  color: #444;
}

.unit {
  font-size: 18px;
  color: #888;
}