{
    "sourceType": "unambiguous",
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage",
                "corejs": {
                    "version": 3,
                    "proposals": true
                }
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@loadable/babel-plugin",
        "babel-plugin-styled-components",
        [
            "@babel/transform-runtime",
            {
                "corejs": 3
            }
        ],
        "@babel/plugin-proposal-optional-chaining",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-exponentiation-operator",
        "@babel/proposal-object-rest-spread",
        "@babel/plugin-transform-async-to-generator"
    ]
}
